.container{
  width: 700px;
  margin: auto;
  padding: 20px;
}
.navLogo{
  display: flex;
  color: #5ae2f4;
  font-weight: 700;
}
.nav-items{
  font-size: 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000c1;
}

.List{
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 5rem;
}

.logo{
  width: 70px;
  margin-right: 10px;
}